@charset "UTF-8";
/*
------------------------------------------------------------------
[Master Default Stylesheet]
------------------------------------------------------------------

[Table of contents]
1. body
2. typography
3. header
4. banner
5. scenes
6. news
7. Get in touch
8. footer
9. responsive
*/


/*---------------------------------------------------------------- 
1. body start
----------------------------------------------------------------*/

*, *::before, *::after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root{
    --color-enabled : #4818D1;
    --color-hovered : #3E11BC;
    --color-pressed : #3913A6;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #323232;
    font-size: 16px;
    line-height: 1.5;
}

a{
    text-decoration: none;
}
img{
    vertical-align: middle;
}
input, textarea, select, button{
    font-family: inherit;
}

.st_container{
    max-width: 1188px;
    margin: 0 auto;
    padding: 0 24px;
}
/*---------------------------------------------------------------- 
1. body end
----------------------------------------------------------------*/

/*---------------------------------------------------------------- 
2. typography start
----------------------------------------------------------------*/
/* heading start */
.h-1{
    font-size: 64px;
    line-height: 1.5;
    font-weight: 600;
    margin: 0;
}
.h-2{
    font-size: 62px;
    line-height: 1.2;
    font-weight: 600;
    margin: 0;
}
/* heading end */

/* title start */
.title-1{
    margin: 0;
    font-size: 32px;
    line-height: 39px;
    font-weight: 500;
    color: #323232;
}
.title-2{
    margin: 0;
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    color: #323232;
}
.title-3{
    margin: 0;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: #323232;
}
/* title end */

/* button start */
.button{
    background-color: var(--color-enabled);
    color: #ffffff;
    cursor: pointer;
    border: none;
    outline: none;
    font-weight: 500;
    display: inline-block;
}
.button:hover{
    background-color: var(--color-hovered);
    color: #F3F3F3;
}
.button:active{
    background-color: var(--color-pressed);
    color: #C3C3C3;
}
.button-b1{
    padding: 24px;
    border-radius: 12px;
    font-size: 20px;
    line-height: 24px;
}
.button-b2{
    padding: 19px 43px;
    border-radius: 12px;
    font-size: 18px;
    line-height: 22px;
}
.button-b3{
    padding: 20px 36.5px;
    border-radius: 12px;
    font-size: 16px;
    line-height: 19px;
}
.button-icon{
    display: inline-flex;
    align-items: center;
    gap: 12px;
    padding: 17.5px 56px;
    border-radius: 12px;
    font-size: 16px;
    line-height: 19px;
}
.button-white{
    color: var(--color-enabled);
    background-color: #ffffff;
}
.button-white:hover{
    color: #784FEB;
    background-color: #ffffff;
}
.button-white.button-icon:hover svg path{
    fill: #784FEB;
}
.button-white:active{
    color: #A588F8;
    background-color: #ffffff;
}
.button-white.button-icon:active svg path{
    fill: #A588F8;
}
/* button end */

/* section start */
.st_section{
    padding : 80px 0;
}
.st_section_heading{
    margin-bottom: 65px;
}
.st_section_white{
    background-color: #ffffff;
}
/* section end */

/* divider start */
.st_divider{
    font-size:32px;
    color: rgba(255, 255, 255, 0.3);
    margin: 70px 0;
}
/* divider end */

.color-white{
    color: #ffffff;
}
.color-dark{
    color: #323232;
}
.text-left{ text-align: left; }
.text-center{ text-align: center; }
.text-right{ text-align: right; }
.text-italic{font-style: italic;}
/*---------------------------------------------------------------- 
2. typography end
----------------------------------------------------------------*/

/*---------------------------------------------------------------- 
3. header start
----------------------------------------------------------------*/
.st_header_wrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    transition: all 0.2s;
}
.st_header_dark .st_header_wrapper{
    background-color: #323232;
}
.st_header_wrapper .st_header_inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.st_header_nav{
    flex: 1;
}
.st_header_nav > ul{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
.st_header_nav > ul > li{
    display: inline-block;
}
.st_header_nav > ul > li > a{
    display: inline-block;
    color: #ffffff;
    padding: 16.5px 22px;
    font-size: 18px;
}
/*---------------------------------------------------------------- 
3. header end
----------------------------------------------------------------*/

/*---------------------------------------------------------------- 
4. banner start
----------------------------------------------------------------*/
.st_banner_wrapper{
    height: 100vh;
    background-image: url('../images/banner.jpg');
    display: grid;
    align-items:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.st_banner_wrapper .st_container{
    padding: 30vh 0 20vh;
}
.st_banner_wrapper h1{
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 60px;
}
/*---------------------------------------------------------------- 
4. banner end
----------------------------------------------------------------*/


/*---------------------------------------------------------------- 
5. scenes start
----------------------------------------------------------------*/
.st_scene_list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    grid-gap: 30px 24px;
    background-image: url("../images/scenes_grid_bg.svg");
    background-size: 100% 100%;
    padding: 24px;
}
.st_scene_list .st_scene_item{
    position: relative;
    padding-bottom: 30px;
}
.st_scene_list .st_scene_item::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    opacity: 0.3;
    background-image: linear-gradient(to right, transparent, #C4C4C4, transparent);
}
.st_scene_list .st_scene_item:nth-last-child(1),
.st_scene_list .st_scene_item:nth-last-child(2),
.st_scene_list .st_scene_item:nth-last-child(3){
    padding-bottom: 0;
}
.st_scene_list .st_scene_item:nth-last-child(1)::before,
.st_scene_list .st_scene_item:nth-last-child(2)::before,
.st_scene_list .st_scene_item:nth-last-child(3)::before{
    display: none;
}
.st_scene_list .st_scene_item .st_scene_image{
    position: relative;
    overflow: hidden;
}
.st_scene_list .st_scene_item .st_scene_image img{
    width: 100%;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.st_scene_list .st_scene_item:hover .st_scene_image img{
    transform: scale(1.1);
}
.st_scene_list .st_scene_item .st_scene_image .st_scene_overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    display: grid;
    align-items: flex-end;
    justify-content: flex-end;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.st_scene_list .st_scene_item:hover .st_scene_image .st_scene_overlay{
    background-color: rgba(94, 66, 165, 0.60);
}
.st_scene_launch{
    display: inline-flex;
    align-items: center;
    gap: 15px;
}
.st_scene_launch > .st_scene_launch_text{
    font-size: 18px;
    color: #ffffff;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: translateX(-10px);
}
.st_scene_item:hover .st_scene_launch > .st_scene_launch_text{
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
}
.st_scene_launch > .st_scene_launch_icon{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}
.st_scene_launch > .st_scene_launch_icon svg{
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: rotate(-45deg);
}
.st_scene_item:hover .st_scene_launch > .st_scene_launch_icon svg{
    transform: rotate(0deg);
}

.st_scene_details p{
    margin: 0;
    margin-top: 15px;
    color: #D1D1DD;
}
.st_scene_details h3{
    margin: 0;
    margin-top: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.st_scene_show_more{
    display: none;
    align-items: center;
    gap: 10px;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
}
/*---------------------------------------------------------------- 
5. scenes end
----------------------------------------------------------------*/

/*---------------------------------------------------------------- 
6. news start
----------------------------------------------------------------*/
.st_news_list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(50% - 20px), 1fr));
    gap: 20px;
}
.st_news_item{
    padding: 40px;
    background-image: url('../images/news_item_bg_top.svg'), url('../images/news_item_bg_bottom.svg');
    background-size: 100% , 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: top center , bottom center;
}
.st_news_item .st_news_head{
    display: grid;
    grid-template-columns: 77px auto;
    align-items: center;
    gap: 20px;
}
.st_news_item .st_news_head > .st_news_head_avatar{
    width: 77px;
}
.st_news_item .st_news_head > .st_news_head_avatar > img{
    width: 77px;
    height: 77px;
    border-radius: 77px;
    object-fit: contain;
}
.st_news_item .st_news_head > .st_news_head_name > span{
    display: block;
}
.st_news_item > .st_news_image{
    overflow: hidden;
    margin-bottom: 20px;
}
.st_news_item > .st_news_image > img{
    width: 100%;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.st_news_item:hover > .st_news_image > img{
    transform: scale(1.1);
}
.st_news_item .title-1{
    margin: 20px 0px 40px;
}
.st_news_item > p{
    margin: 0;
    margin-bottom: 15px;
    color: #6A6A6A;
    font-size: 18px;
}
.st_news_item .button{
    margin-top: 20px;
}
/*---------------------------------------------------------------- 
6. news end
----------------------------------------------------------------*/

/*---------------------------------------------------------------- 
7. Get in touch start
----------------------------------------------------------------*/
.st_section_connect{
    background-color: #5E42A5;
    position: relative;
    z-index: 1;
}
.st_connect_wrapper{
    display: grid;
    grid-template-columns: 50% 50%;
}
.st_connect_wrapper h3{
    margin-bottom: 20px;
}
.st_connect_wrapper p{
    color: #D1D1DD;
    font-size: 20px;
}
.st_connect_wrapper .st_connect_twitter{
    padding-right: 80px;
}
.st_connect_wrapper .st_connect_twitter img{
    width: 100%;
    margin-bottom: 45px;
}
.st_connect_wrapper .st_connect_discordGithub{
    padding-left: 80px;
}
.st_connect_wrapper .st_connect_discordGithub:before{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    background-color: #2B224F;
    z-index: -1;
}
.st_connect_wrapper .st_connect_discordGithub .button-icon:hover svg path{
    fill: inherit;
    stroke: #784FEB;
}
.st_connect_wrapper .st_connect_discordGithub .button-icon:active svg path{
    fill: inherit;
    stroke: #A588F8;
}
/*---------------------------------------------------------------- 
7. Get in touch end
----------------------------------------------------------------*/

/*---------------------------------------------------------------- 
8. footer end
----------------------------------------------------------------*/
.st_footer{
    padding: 40px 15px;
}
/*---------------------------------------------------------------- 
8. footer end
----------------------------------------------------------------*/

/*---------------------------------------------------------------- 
9. responsive start
----------------------------------------------------------------*/
@media (max-width: 1200px){
    .h-1{
        font-size: 44px;
    }
}
@media (max-width: 768px){
    .h-1{
        font-size: 38px;
    }
    .h-2{
        font-size: 38px;
    }
    .title-1{
        font-size: 20px;
        line-height: inherit;
    }
    .title-2{
        font-size: 18px;
        line-height: inherit;
    }
    .button-b1{
        font-size: 16px;
        padding: 16px 24px;
    }
    .button-b2{
        font-size: 16px;
        padding: 12px 24px;
    }
    .st_header_wrapper{
        background-color: rgba(50, 50, 50, 0.70);
    }
    .st_header_nav{
        display: none;
    }
    .st_header_logo img{
        max-width: 126px;
    }
    .st_banner_wrapper{
        height: auto;
    }
    .st_connect_wrapper,
    .st_news_list,
    .st_scene_list{
        grid-template-columns : 100%;
    }
    .st_scene_list{
        background-image: none;
    }
    .st_connect_wrapper .st_connect_twitter{
        padding: 0;
    }
    .st_connect_wrapper .st_connect_discordGithub{
        padding: 0;
        margin-top: 88px;
    }
    .st_connect_wrapper .st_connect_discordGithub:before{
        top: 54.5%;
        left: 0;
    }
    .st_connect_wrapper p{
        font-size: 16px;
    }
    .st_connect_wrapper{
        text-align: center;
    }
    .st_divider{
        margin: 30px 0;
    }
    .st_section_heading{
        margin-bottom: 43px;
    }
    .st_news_item{
        padding: 20px;
    }
    .st_news_item .st_news_head{
        grid-template-columns: 40px auto;
        gap: 18px;
    }
    .st_news_item .st_news_head > .st_news_head_avatar{
        width: 40px;
    }
    .st_news_item .st_news_head > .st_news_head_avatar > img{
        width: 40px;
        height: 40px;
    }
    .st_news_item .title-1{
        margin: 20px 0px;
    }
    .st_scene_list .st_scene_item:nth-last-child(1)::before,
    .st_scene_list .st_scene_item:nth-last-child(2)::before,
    .st_scene_list .st_scene_item:nth-last-child(3)::before{
        display: block;
    }
    .st_scene_list .st_scene_item:nth-last-child(1), 
    .st_scene_list .st_scene_item:nth-last-child(2), 
    .st_scene_list .st_scene_item:nth-last-child(3) {
        padding-bottom: 100px;
    }
    .st_scene_show_more{
        display: inline-flex;
    }
    .st_scene_list .st_scene_item{
        padding-bottom: 100px;
    }
    .st_scene_list .st_scene_item .st_scene_image{
        position: initial; 
    }
    .st_scene_list .st_scene_item:hover .st_scene_image .st_scene_overlay{
        background-color: transparent;
    }
    .st_scene_list .st_scene_item .st_scene_image .st_scene_overlay{
        top: auto;
        padding: 0;
        bottom: 25px;
        justify-content: flex-start;
    }
    .st_scene_list .st_scene_item .st_scene_image{
        position: initial; 
    }
    .st_scene_launch > .st_scene_launch_text{
        opacity: 1;
        visibility: visible;
        transform: none;
        cursor: pointer;
        width: 160px;
        height: 50px;
        border-radius: 12px;
        background-color: #ffffff;
        color: #373737;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: 500;
    }
    .st_scene_launch > .st_scene_launch_icon{
        display: none;
    }
}
/*---------------------------------------------------------------- 
9. responsive end
----------------------------------------------------------------*/

